@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700;');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');
$family-sans-serif:'Nunito',sans-serif;
$purple:#c9168d;
$pink:#fa7c91;
$dark:#333;
$beige-lighter:rgb(245,245,245);

$primary:$purple;
$link:$dark;
$danger:$pink;

$body-background-color:$beige-lighter;

@import '../../node_modules/bulma/bulma.sass';



 